<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="vscode" />
  <package id="git" />
  <package id="poshgit" />
  <package id="oh-my-posh" />
  <package id="cascadiaCode" />
  <package id="googlechrome" />
  <package id="7zip" />
  <package id="vlc" />
  <package id="notepadplusplus" />
  <package id="microsoft-windows-terminal" />
  <package id="nodejs-lts" />
  <package id="python" />
  <package id="powershell-core" />
  <package id="exactaudiocopy" />
  <package id="flac" />

</packages>